<center>
  <%= image_tag(@listing.picture_url) %>
</center>
<br />
<table>
  <%- @listing.attributes.sort.each do |key, value| -%>
    <tr class="<%= cycle("even", "odd") %>">
      <td>
        <%= key.humanize %>
      </td>
      <td>
        <%= value %>
      </td>
    </tr>
  <%- end -%>
</table>
